.leave-request {
    label {
        color: rgba(0, 0, 0, 0.70);
        margin-bottom: 16px;
    }

    .heading-label {
        color: rgba(0, 0, 0, 0.70);
        margin-bottom: 16px;
    }

    .input-saved {
        padding: 11px;
    }

    .form-box input {
        position: relative;
    }

    .form-box {

        .calendar-btn-enddate,
        .calendar-btn-startdate,
        .calendar-btn-starttime,
        .calendar-btn-endtime {
            position: absolute;
            border: none;
            background: transparent;
            padding: 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            // top: 50%;
            transform: translateY(0%);
            // inset-inline-end: 10px;
            width: 100%;
            height: 100%;
            top: 0;
            inset-inline-end: 0;
            margin: 0;


            .calendar-icon {
                width: 24px;
                height: 24px;
                display: inline-block;
                background: #1C274C;
                position: absolute;
                inset-inline-end: 10px;
            }

            .clock-icon {
                width: 24px;
                height: 24px;
                display: inline-block;
                background: #1C274C;
                background-size: 10px;
                position: absolute;
                inset-inline-end: 10px;
            }
        }

        .choose-attachment {
            border-radius: 18px;
            border: 1px dashed rgba(8, 18, 24, 0.15);
            background: #FAFAFA;
            padding: 40px;
            max-height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 262px;
             input {
            position: absolute !important;
            width: 100%;
            height: 100%;
            opacity: 0;
             }
            @include media-breakpoint-down(lg) {
                min-height: 170px;
                padding: 20px;
            }

        }

  
    }

    .error-msg {
        color: $maroon;
    }

    .submit-btn {
        color: #fff;
        background-color: $blue;
        border: 1px solid $blue !important;
        border-radius: 8px;
        padding: 8px 16px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: $light-blue1;
            border-color: $light-blue1;
            color: $blue !important;
        }

        &:active,
        &.active,
        &:focus {
            background-color: $light-blue2;
            border-color: $light-blue2;
            color: $blue !important;
            ;
            outline: none;
            box-shadow: none;
        }

        &:disabled {
            background-color: #ccc;
            border-color: #ccc;
            color: #666;
            cursor: not-allowed;
        }
    }

    .comment-btn {
        color: $blue;
        background-color: $white;
        border: 1px solid $blue !important;
        border-radius: 8px;
        padding: 8px 16px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;
        white-space: nowrap;

        &:hover {
            background-color: $blue;
            border-color: $blue;
            color: $white !important;
        }

        &:active,
        &.active,
        &:focus {
            background-color: $blue;
            border-color: $blue;
            color: $white !important;
            outline: none;
            box-shadow: none;
        }

        &:disabled {
            background-color: #ccc;
            border-color: #ccc;
            color: #666;
            cursor: not-allowed;
        }
    }

    .department-details:not(:last-child) {
        margin-bottom: 16px;
    }

    .name-icon {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .time {
        position: relative;
        padding-inline-start: 18px;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 4px;
            width: 4px;
            border-radius: 50%;
            background-color: #D9D9D9;
            inset-inline-start: 0px;

        }
    }

    .comment-holder .item:not(:last-child) {
        @include fluid-steps(margin-bottom, (15px, 32px));
    }

    .border-grey-end {
        border-inline-end: 1px solid rgba(0, 0, 0, 0.05);
    }

    .toggle-arrow {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
    }

    .arrow-icon {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-left: 2px solid #000;
        border-bottom: 2px solid #000;
        transform: rotate(-45deg);
        /* downward */
        transition: transform 0.3s ease;
    }

    .dependent-block.open .arrow-icon {
        transform: rotate(135deg);
        /* upward when open */
    }

    .dependent-block {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    .dependent-body {
        margin-top: 20px;
    }
}

.leave-request:not(:last-child) {
    @include fluid-steps(margin-bottom, (15px, 32px));
}


/* purgecss start ignore */




.select2-container .select2-selection--single {
    padding-block: 7px;
    height: 48px;

    @include media-breakpoint-down(md) {
        height: 38px;
    }
}

.select2-container--default .select2-selection--single {
    border: 1px solid rgba(0, 0, 0, 0.08) !important;
    border-radius: 8px;
    height: 48px !important;

    @include media-breakpoint-down(md) {
        height: 38px !important;
    }
}

.select2-dropdown {
    border: 1px solid rgba(0, 0, 0, 0.08) !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    -webkit-mask: url('../images/chevron-down.svg') no-repeat center;
    -webkit-mask-size: 20px;
    mask-size: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 20px;
    height: 20px;
}

.select2-container--default .select2-results__option {
    margin-block: 5px;
}

.select2-container--default .select2-results__option--highlighted,
.select2-container--default .select2-results__option--selected {
    background: rgba(121, 170, 250, 0.10) !important;
    color: #333 !important;
    margin-block: 5px;
}


.select2-selection__clear {
    display: none !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    @include media-breakpoint-down(md) {
        line-height: 20px;
    }

}

/* purgecss end ignore */
.leaveModal {
    --bs-modal-width: 300px;

    .modal-body {
        align-content: flex-end;
    }

    .modal-header {
        border-bottom-color: transparent;
    }

    .modal-content {
        min-height: 350px;
    }

    .modal-title {
        text-align: center;
    }

    .modal-footer {
        border-top-color: transparent;
        justify-content: center;

        button {
            width: 228px;
            color: $white;
        }
    }
}

.select2-dropdown {
    border: 1px solid rgba(0, 0, 0, 0.08) !important;
}

.leave {
    &-box-1 {
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        background: #FFF;
        height: 48px;
        resize: none;

        @include media-breakpoint-down(md) {
            height: 38px;
        }
    }

    &-box-2 {
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        background: #F5F5F5;
        // height: 48px;
    }

    &-box-4 {
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        background: #FDFDFD;
        height: 48px;

        @include media-breakpoint-down(md) {
            height: 38px;
        }
    }

    &-box-3 {
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        background: #fff;
        height: 262px;

        @include media-breakpoint-down(lg) {
            height: 170px;
        }

    }

}

    /* purgecss start ignore */
      
.leave-request .form-box 
{
    .file-item {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6 !important;
    }
    
 .file-name-text {
    font-size: 0.875rem;
    color: #495057;
    flex: 1;
}
}
      /* purgecss end ignore */