.attendance-status-present {
  // padding: 32px;
  --atten-status-height: 116px;
  height: var(--atten-status-height);

  @media (min-width: 1200px) and (max-width: 1599px) {
    --atten-status-height: 100px;
  }

  padding: 23px;
  background: linear-gradient(to left, $light-green 0%, $green 100%);

  [dir="rtl"] & {
    background: linear-gradient(to right, $light-green 0%, $green 100%);
  }

  @media (max-width:1600px) {
    padding: 12px;
  }

  @include media-breakpoint-down(xxl) {
    padding: 10px;
  }

  .atten-btn {
    background-image: url("../images/atten-icon.svg");
    background-color: $green;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    inset-inline-start: 20px;
    border: 1px solid transparent;
    background-size: 50px;
    background-position: center;

    @media (max-width:1800px) {
      width: 40px;
      height: 40px;
      background-size: 40px;
    }

    [dir="rtl"] & {
      transform: scaleX(-1);
    }
  }
}


/* purgecss start ignore */

.attendance-status-absent {
  padding: 23px;
  background: linear-gradient(to left, rgba(134, 32, 65, 0.5), rgba(134, 32, 65, 1));

  [dir="rtl"] & {
    background: linear-gradient(to right, rgba(134, 32, 65, 0.5), rgba(134, 32, 65, 1));
  }

  @media (max-width:1600px) {
    padding: 12px;
  }

  @include media-breakpoint-down(xxl) {
    padding: 10px;
  }

  .atten-btn {
    background-image: url("../images/atten-icon.svg");
    background-color: rgba(134, 32, 65, 1);
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    inset-inline-start: 20px;
    border: 1px solid transparent;
    background-size: 50px;
    background-position: center;

    @media (max-width:1700px) {
      width: 40px;
      height: 40px;
      background-size: 40px;
    }

    [dir="rtl"] & {
      transform: scaleX(-1);
    }
  }
}

/* purgecss end ignore */