.header {
  padding-block: 17px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  ul {
    top: 36px !important;
    border-radius: 16px;
    background: #fff;
    border-color: transparent;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.07);

    li i {
      [dir="rtl"] & {
        transform: scaleX(-1);
      }
    }
  }

  .lang-switcher,
  .profile-switcher,
  .notification-btn,
  .pending-approvals-btn {
    height: 54px;
    min-width: 54px;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(xxl) {
      height: 40px;
      min-width: 40px;
    }
  }

  .notification-btn,.pending-approvals-btn {
    @include media-breakpoint-down(xxl) {
      width: 40px;
      background-size: 25px;

      i {
        background-size: 18px !important;
      }
    }
  }

  button[aria-expanded="true"] .dropdown-arrow {
    transform: rotate(180deg);
  }

  .badge-notification ,.badge-pending-approvals {
    position: absolute;
    top: 10px !important;
    inset-inline-start: 100% !important;
    background-color: $maroon;
    transform: translate(-50%, -50%) !important;
    padding: 0px 6px;
    color: $white;
    font-size: 12px;
    @include media-breakpoint-down(xxl) {
      padding: 0px 5px;
      font-size: 12px;
    }

  }

  .dropdown-arrow {
    transition: transform 0.3s ease;
  }

  .btn-check:checked+.btn,
  :not(.btn-check)+.btn:active,
  .btn:first-child:active,
  .btn.active,
  .btn.show {
    border-color: transparent
  }

  .profile-switcher {
    .initials {
      background-color: rgb(235, 235, 234);
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: rgb(64, 65, 66);
      font-weight: 500;
    }
  }

  .notification-canvas {
    --bs-offcanvas-width: 750px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: -4px 3px 25.1px 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(32px);

    @include media-breakpoint-down (lg) {
      --bs-offcanvas-width: calc(100vw - 100px);
    }

    @include media-breakpoint-down (sm) {
      --bs-offcanvas-width: calc(100vw - 20px);
    }

    .btn-close {
      background: url('../images/close-btn.svg') center no-repeat !important;
      opacity: 1;
      width: 42px;
      height: 42px;
    }

    .offcanvas-header {
      padding-inline: 50px;
      padding-block: 24px 0px;

      @media (min-width: 1200px) and (max-width: 1599px) {
        padding-block: 10px 0px;
      }

      @include media-breakpoint-down (lg) {
        padding-inline: 10px;
      }

    }

    .offcanvas-body {
      padding-inline: 50px;
      padding-top: 0px;

      @include media-breakpoint-down (lg) {
        padding-inline: 20px;
      }
    }
  }

  .offcanvas-title {
    color: $black;
    font-weight: bold;
  }

  .read-box,
  .unread-box,
  .filter-box {
    padding: 5px 16px;
    border-radius: 7px;
    background: $white;
    box-shadow: 0 0 14px -7px rgba(255, 255, 255, 0.30) inset, 0 0 14px -7px rgba(255, 255, 255, 0.30) inset, 0 4px 6px 0 rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(34px);
    color: $black;
  }

  .filter-box {
    position: relative;
    padding-inline-start: 36px;

    i {
      position: absolute;
      top: 50%;
      inset-inline-start: 8px;
      transform: translateY(-50%);

    }
  }

  .notification-details {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      row-gap: 10px;
      justify-content: center;
      align-items: start;
    }
  }

  .notification-list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    height: calc(100dvh - 300px);
    overflow-y: scroll;
    padding-inline-end: 10px;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #EAEEF6 transparent;

    // Chrome, Safari, Edge, Opera
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #EAEEF6;
      border-radius: 8px;
      border: 2px solid #EAEEF6;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #d0d8e8;
    }

    .box {

      &-unread,
      &-read {
        padding: 10px;
        border-radius: 16px;
        border: 1px solid #FFF;
        background: $light-blue1;
        box-shadow: 0 0 14px -7px rgba(255, 255, 255, 0.30) inset, 0 0 14px -7px rgba(255, 255, 255, 0.30) inset, 0 4px 6px 0 rgba(0, 0, 0, 0.03);
        backdrop-filter: blur(34px);
        position: relative;
        padding-inline-start: 56px;

        @include media-breakpoint-down(lg) {
          padding: 8px;
          padding-inline-start: 56px;
        }

        .time {
          text-align: end;
          color: $black1;
          opacity: 0.3;
          margin-bottom: 0px;
        }

        .heading {
          color: $black-light;
        }

        .reason {
          color: $black-light;
          margin-bottom: 4px;
        }
      }

      &-read {
        background: rgba(255, 255, 255, 0.95);
        opacity: 70%;
      }
    }

    .status {

      &-rejected,
      &-approved,
      &-important,
      &-rejected-light,
      &-approved-light,
      &-important-light {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 16px;
        inset-inline-start: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .status {
      &-approved {
        background-color: $green;

      }

      &-rejected {
        background-color: $maroon;
      }

      &-important {
        background-color: $secondary;
      }

      &-approved-light {

        border: 0.833px solid #FFF;
        background: $green;
        box-shadow: 2.5px 2.5px 3.333px 0 rgba(0, 0, 0, 0.10);
        // opacity: 70%;

      }

      &-rejected-light {
        border: 0.833px solid #FFF;
        background: $maroon;
        box-shadow: 2.5px 2.5px 3.333px 0 rgba(0, 0, 0, 0.10);
        // opacity: 70%;
      }

      &-important-light {
        border: 0.833px solid #FFF;
        background: $secondary;
        box-shadow: 2.5px 2.5px 3.333px 0 rgba(0, 0, 0, 0.10);
        // opacity: 70%;
      }
    }

    @media (min-width: 1200px) and (max-width: 1599px) {
      height: calc(100dvh - 265px);

    }
  }

  @include media-breakpoint-down(sm) {
    .main-logo {
      width: 30%;
    }
  }
  
}
  .form-request {
        height: 55px;
        position: relative;
        // width: 352px;
        width:250px;

        @include media-breakpoint-down(md) {
            height: 38px;
        }
    }

    input.form-control.rounded-pill {
        &::-webkit-input-placeholder {
            /* Chrome, Safari, Opera */
            color: $black;
            opacity: 0.4;
            padding-inline-start: 10px;
            font-size: 16px;

            @include media-breakpoint-down(lg) {
                font-size: 13px;
            }
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            color: $black;
            opacity: 0.4;
            padding-inline-start: 10px;
            font-size: 16px;

            @include media-breakpoint-down(lg) {
                font-size: 13px;
            }
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            color: $black;
            opacity: 0.4;
            padding-inline-start: 10px;
            font-size: 16px;

            @include media-breakpoint-down(lg) {
                font-size: 13px;
            }
        }

        &::-ms-input-placeholder {
            /* Edge */
            color: $black;
            opacity: 0.4;
            padding-inline-start: 10px;
            font-size: 16px;

            @include media-breakpoint-down(lg) {
                font-size: 13px;
            }
        }

        &::placeholder {
            /* Standard */
            color: $black;
            opacity: 0.4;
            padding-inline-start: 10px;
            font-size: 16px;

            @include media-breakpoint-down(lg) {
                font-size: 13px;
            }
        }
    }

    .search-btn {
        --btn-width: 45px;
        --btn-height: 45px;
        height: var(--btn-height);
        width: var(--btn-width);
        border-radius: 50%;
        position: absolute;
        inset-inline-end: 5px;
        top: 50%;
        transform: translateY(-50%);

        i {
            width: 30px;
            height: 30px;
            background-color: $white;
        }

        @include media-breakpoint-down(md) {
            --btn-width: 30px;
            --btn-height: 30px;
            padding: 0px;

            i {
                width: 20px;
                height: 20px;
            }
        }
    }