.terms-and-conditions {
    padding-inline: 10px;
    ol {
    padding-inline-start: 0px;
    border-bottom: 1px solid $primary;
    li {
        color:black;
        opacity: 60%;
        font-weight: 350;
        }
    }
}